body {
  background-image: url(../img/mainpage_space_1.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 60%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1035px;;
  }
}

.container{
  margin-left: 250px;
}


.header {
  position: relative;
}

.header .menu {
  text-align: right;
}

.header .star_2 {
  position: absolute;
  top : 850px;
  right : 200px;
  width: 100px;
}


.header .star_3 {
  position: absolute;
  top : 600px;
  right : 100px;
}

.header .illust_1 {
  position: absolute;
  right: 550px;
  top: 300px;
  width : 450px
}

.bottom {
  background-image: url(../img/mainpage_space_2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  position: relative;
  height:1100px;
}

.bottom .illust_2 {
  position: absolute;
  bottom:0;
  left: 50%;
  right :auto;
  top :auto;
  margin-left: -660px
}

.container .mb-5{
  margin-top: 150px;
}


.nav{
 margin-top: 100px;
}


.star_4{
  position: absolute;
  left: -150px;
  opacity: 40%;
  top: 1600px;
  width: 300px;
}

.star_5{
  position: absolute;
  left: 100px;
  opacity: 40%;
  top: 2500px;
}

.main{
  min-height: 2000px;
  margin-top: 460px;
}

.container .text_1{
  width: 1000px;
}

.container .text_2{
  margin-top: 200px;
  width: 1200px;
}

section {
  background-image: url(../img/mainpage_space_2.png);
  background-repeat: no-repeat;
}
