body{
  background-image: url(../img/mainpage_space_1.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 55%;
}

.illust_1 img{
  position: absolute;
  right: 560px;
  top: 300px;
  width: 450px;
}

.star_3 img{
  position: absolute;
  right: 200px;
  top: 550px;
  width: 150px;
}

.star_2 img{
  position: absolute;
  right: 345px;
  top: 800px;
  width: 30px;
}

.portfolio img{
  font-family: Helvetica;
  position: absolute;
  left: 200px;
  top: 240px;
}

.designer img{

    position: absolute;
    left: 200px;
    top: 330px;
    font-size: 50px;
}

.name img{
   position: absolute;
   left: 200px;
   top: 390px;
   font-size: 120px;
}

.UXUI img{

   position: absolute;
   left: 200px;
   top: 585px;
   font-size: 24px;

}

.web img{
   position: absolute;
   left: 380px;
   top: 585px;
   font-size: 24px;

}

.etc img{
   position: absolute;
   left: 570px;
   top: 585px;
   font-size: 24px;

}
